.login{
     display: flex;
     width: 100vw;
     height: 100vh;
     justify-content: center;
}

.loginLeft, .loginRight{
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     position: relative;
}

.loginRight{
     padding-top: 200px;
     padding-left: 100px;
}

.logo{
     width: 175px;
     height: 40px;
     position: absolute;
     left: 100px;
     top: 110px;
}

.doodle{
     position: absolute;
     object-fit: cover;
     width: 600px;
     height: 340px;
     top: 250px;
     left: 70px;
}

.welcomeTxt{
     font-size: 40px;
     font-weight: 700;
     color: #213F7D;
     margin-bottom: 10px;
}

.enterTxt{
     font-size: 20px;
     color: #545F7D;
     margin-bottom: 40px;
}

.loginForm{
     display: flex;
     flex-direction: column;
     padding-right: 160px;
}

.error{
     color: red;
     font-size: 12px;
     margin-bottom: 20px;
}


.forgot{
     font-size: 12px;
     color: #39CDCC;
     font-weight: 600;
     margin-bottom: 30px;
     cursor: pointer;
}

.loginBtn{
     width: 100%;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 14px;
     font-weight: 600;
     color: white;
     background-color: #39CDCC;
     border-radius: 5px;
     cursor: pointer;
}


@media screen and (max-width:1200px){
     .loginLeft{
          width: 40%;
     }

     .doodle{
          width: 100%;
          left: 40px;
     }
     .logo{
          left: 60px;
     }

     .loginRight{
          width: 60%;
     }

}

@media screen and (max-width:1000px){
     
     .doodle{
          width: 80%;
     }
}


@media screen and (max-width:900px){
     
}

@media screen and (max-width:800px){
     .login{
          width: 100vw;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
     }

     .loginLeft, .loginRight{
          width: 100%;
     }

     .doodle{
          display: none;
     }

     .loginLeft{
          height: 20vh;
     }
     .loginRight{
          height: 80vh;
          margin-top: 50px;
          padding: 0px 60px;
     }

     .loginForm{
          padding: 0px;
     }

     .welcomeTxt{
          font-size: 30px;
          margin-top: 50px;
     }
     .enterTxt{
          font-size: 16px;
          margin-bottom: 30px;
     }
}

@media screen and (max-width:600px){

     .logo{
          left: 40px;
     }
     .loginRight{
          padding: 0px 40px;
     }
}

@media screen and (max-width:400px){
     .logo{
          left: 20px;
     }
     .loginRight{
          padding: 0px 20px;
     }
}