.inputs{
     display: flex;
     flex-direction: row;
     position: relative;
     height: 50px;
     margin-bottom: 24px;
     font-size: 14px;
     
     padding-left: 15px;
     border: 2px solid rgba(84, 95, 125, 0.15);
     border-radius: 5px;
     align-items: center;
}


.inputs::placeholder{
     font-size: 14px;
     color: #545F7D;
}
.inputs:focus{
     border: none;
     outline:1px solid #39CDCC;
}

.show{
     position: absolute;
     right: 10px;
     font-size: 12px;
     color: #39CDCC;
     cursor: pointer;
}

.loginInput{
     height: 100%;
     width: 100%;
     border: none;
     font-size: 14px;
     color: #545F7D;
}

.loginInput:focus{
     outline: none;
}
