.inputholder{
     width: 100%;
     height: 60px;
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
}

.inputholder>label{
     width: 100%;
     height: 20px;
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 16px;
     color: #545F7D;

}

.inputholder>select, .inputholder>input{
     width: 100%;
     height: 40px;
     background: #FFFFFF;
     opacity: 0.2;
     border: 1px solid #213F7D;
     border-radius: 8px;
}