.datagrid{
     width: 100%;
     height: 700px;
     background-color: white;
     z-index: 777;
     display: flex;
     position: relative;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar{
     display: none;
     height: 100%;
}

.name-column--cell{
     overflow: visible;
}

.header{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     
}

.headerTxt{
     font-family: 'Work Sans';
     color: #545F7D;
     font-weight: 600;
     font-size: 12px;
}


.MuiDataGrid-cellContent{
     font-size: 14px;
     font-weight: 400;
     font-family: 'Work Sans';
}