.section{
     width: calc(100vw - 300px);
     min-height: calc(1325px - 100px);
     position: absolute;
     top: 100px;
     left: 300px;
     display: flex;
     flex-direction: column;
     padding:60px;
     background:#E5E5E5;
}

.sectionTitle{
     font-size: 24px;
     font-weight: 500;
     color: #213F7D;
     margin-bottom: 40px;
}

@media screen  and (max-width:1400px){
     .section{
          left: 250px;
     }

}

@media screen  and (max-width:1300px){
     .section{
          left: 200px;
          width: calc(100% - 200px);
     }
}

@media screen  and (max-width:600px){
     .section{
          width: calc(100% - 100px );
          left:100px;
          padding: 10px;
     }
}