$color_1: #545F7D;
$color_2: #213F7D;
$background-color_1: white;

.highlight {
	width: 240px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 30px;
	background-color: $background-color_1;
	gap: 12px;
	border-radius: 4px;
	margin-bottom: 40px;
}
.hlCircle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hlTxt {
	font-size: 14px;
	font-weight: 500;
	color: $color_1;
}
.hlNum {
	font-size: 24px;
	color: $color_2;
	font-weight: 600;
}
@media screen and (max-width:1385px) {
	.highlight {
		width: 200px;
		height: 100%;
	}
	.hlCircle {
		max-width: 30px;
		max-height: 30px;
	}
	.hlNum {
		font-size: 20px;
	}
}
@media screen and (max-width:1130px) {
	.highlight {
		width: 180px;
		height: 80%;
	}
	.hlTxt {
		font-size: 12px;
	}
	.hlNum {
		font-size: 16px;
	}
}
@media screen and (max-width:1040px) {
	.highlight {
		width: 150px;
		height: 100%;
	}
}
@media screen and (max-width:920px) {
	.highlight {
		height: 50%;
	}
}
@media screen and (max-width:800px) {
	.highlight {
		height: 50%;
	}
}
@media screen and (max-width:700px) {
	.highlight {
		margin-bottom: 20px;
	}
}
@media screen and (max-width:600px) {
	.highlight {
		width: 160px;
		height: 128px;
		margin-bottom: 20px;
	}
	.hlCircle {
		width: 30px;
		height: 30px;
	}
}
@media screen and (max-width:460px) {
	.highlight {
		width: 180px;
	}
}
