.highlight{
     width: 240px;
     height: 100%;
     display: flex;
     flex-direction: column;
     padding: 20px 30px;
     background-color: white;
     gap: 12px;
     border-radius: 4px;

}

.hlCircle{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     
}

.hlTxt{
     font-size: 14px;
     font-weight: 500;
     color:#545F7D
}

.hlNum{
     font-size: 24px;
     color: #213F7D;
     font-weight: 600;
}